body{
    background-color: #6daddb63 ;
}
h1, 
h2{
    text-align: center;
    text-decoration: underline;
}
#site_logo img{
    max-width: 60px;
}
p{
    font-family: "Open Sans";
    max-width: 500px;
    margin: 10px auto;
}
img{
    display: block;
    margin: 10px auto;
}
main,
header{
    background-color: #6daddb60;
}
nav{
    margin: 0 auto;
    background-color: #6DAEDB;
    
}
.navigation{
    margin-top:0;
    list-style-type: none;
    padding: 0;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}

.navigation a{
    color: white; 
    text-decoration: none;
    display: block;
    padding: 1.5em;
    text-align: center;
    font-size: 18px;

}

a:hover{
    background-color: #1b4353 ;
    text-decoration: underline;
}
.responsive li{
    display: block;
}
.grid_container{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 780px;
}

.currentWeather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 30vw;
    background-color: #6daddb60;
    margin: 10px auto;

}
.currentWeather h3{
    padding-left: .5em;
    grid-column: 1 / 2;
}
.label{
    grid-column: 1 / 1;
    padding-left: .5em;

}
.value{
    grid-column: 2 / 2;

}
form{
    background-color: #8acbf7c9;
}
form,
form input,
form label{
    padding: .5em;
    margin: .5em;
}

.business_card div{
    max-width: 400px;
    border: 1px solid black;
    margin: .5em;
    padding: .5em;
    background-color: #2891d7c9;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #6DAEDB;
    padding: .5em;
  }
.board{
    display: flex;
    align-items: center;
    justify-content: center;
}

#business1,
#business2,
#business3{
    margin: 10px auto;
    padding: .5em;
    border: 1px solid black;
    text-align: center;
    background-color: #2891d7c9;
    max-width: 500px;
}
.events img,
.events p,
.activities img,
.activities p{
    display: block;
    max-width: 80vw;
    margin: 10px auto;
}
.events,
.activities{
    border: 1px solid black;
    margin: .5em;
    box-shadow: 10px 10px 5px #333;

}
#event1,
#event2,
#event3,
#activity1,
#activity2{
    margin: .5em;
    border: 1px solid black;
    background-color: #2891d78f;
}
.forecast {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;

}
.forecast div{
    border: 1px solid black;
    padding: .5em;
    margin: .5em;
    background-color: #2891d7c9;

}
/*footer*/
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1b4353c2;
    padding: .5em;
}
.map {
    display: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
    
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

@media only screen and (min-width: 32.5em){
    header,
    main{
        display: block;
        margin: 10px auto;
    }
    
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
    .navigation li.active a{
        
        background-color:#2892D7 ;   
    }
	.navigation li:first-child {
		display: none;
	}
    .events img,
    .events p,
    .activities img,
    .activities p{
        max-width: 300px;
        padding: .5em;
    }
    .events,
    .activities,
    .business{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .map{
        display: block;
    }
}
@media only screen and (min-width: 80em){
    form{
        margin: 10px auto;
        max-width: 860px;
    }
    
    footer{
        display:flex;
        flex-direction: row;
    }
    footer p,
    footer .map,
    footer .social_media{
        padding: .5em;
    }
    
}