body {
    background-image: url('../images/site/checkerboard.jpg');
    
}
h1,
h2,
p,
li{
    font-family:monospace;
}
.container{
    border: 3px solid #4c96d7;
    background-color: #ffffff;
    z-index: 2;
    max-width: fit-content;
    margin: auto;
    
}
header{
    display: grid;
    
}
header a{
    grid-column: 2 / 2;
    margin: auto;
    font-size: 20px;
}
nav{
    background-color: #3a3a3a;
}
nav a{
    color:#ffffff;
}
.navigation ul{
    display: flex;

}
.navigation li{
    display: block;
    flex: 1 1 auto;
}
.navigation a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: .5em;
    text-align: center;
}
nav a:hover{
    color:#3a3a3a;
    background-color: #4c96d7;
}
main{
    margin: .5em;
    padding: .5em;
}
form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  }
input, 
textarea{
    width: 85%;
    padding: 12px 20px;
}
label{
    padding: 1em;
}
table, th, td{
    border: 1px black solid;
}
th, td{
    padding: .5em;
}
th{
    text-align: left;
}
td{
    text-align: center;
}
.carInfo{
    color: #4c96d7;
}
.carInfo p{
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 300;
}
#deloreanInfo{
    display: flex;
    flex-direction: column;
}
#delorean img{
    max-width: 65vw;
    display: block;
    margin-right:auto;
    margin-left:auto;
}
#ownToday img{
    max-width: 25vw;
    display: block;
    margin-right:auto;
    margin-left:auto;
}
.upgradeItems{
    display: flex;
    flex-wrap: wrap;
}
.upgradeItems figure{
    flex: auto;
    
}
.upgradeItems{
    background-color: #4c96d7 ;
    align-items: center;
    justify-content: center;
}
figcaption{
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    border-top: 1px solid #3a3a3a;
}
@media only screen and (min-width: 32.5em){
    nav li{
        font-size: 18px;
    }
    form{
        align-items: center;
        justify-content: center;
    }
    #deloreanInfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .reviews{
        grid-column: 2 / 2;
    }
    .reviews li{
        
        margin-top: 1em;
    }
    .upgrade{
        grid-column: 1 / 1;
        grid-row: 1;
        display: flex;
        flex-wrap: wrap;
        
    }
    #ownToday img{
        max-width: 100px;
        position: absolute;
        left: 1.5em;
        top: 23em;
    }
    
}
